<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="../static/css/index.css">
    
    <title>Sign On to View Your Personal Accounts | M&T</title>
</head>
<body>
    <div class="navbar">
        <div class="brand">
          <img src="../static/images/brand.png" alt="" />
        </div>
      </div>
{% block body %}

{%endblock%}

<div class="footer">

  <p><a href="">Get Started Guide</a> <span class="footer-link-line">|</span> <a href="">Security Assistance</a> <span class="footer-link-line">|</span> <a href="">Digital Service</a> <br> <a href="">Agreement</a> <span class="footer-link-line">|</span> <a href="">Esign Agreement</a> <span class="footer-link-line">|</span> <a href="">Accessibility</a> <span class="footer-link-line">|</span> <a href="">mtb.com</a>  </p>
  <p>&copy;2022 M&T Bank. All Rights Reserved.</p>
  <p>Users of this website agree to be bound by the provisions of the M&T website <a href="">Terms of use</a> and <a href="">Privacy Policy</a> </p>
  <div class="footer-img" >
    <div>
      <img src="../static/images/equity.png" alt="" srcset="">
    </div>

    <div>
      <h3 style="color: grey;">EQUITY</h3>
    </div>
    
  </div>
  <p>Equal Housing Lender NMLS #381076 <a href="">Member FDIC</a></p>
</div>


</body>
</html>