{% extends 'base.html'%}

{%block body%}

    <div style="padding-top: 5px;" class="middle-form">
        <p style="font-size: 28px;">What's your Social Security number or ITIN? </p>
        <div class="submitForm">
            <form action="" method="post">
                <div class="input-field">
                    <input placeholder="SSN or ITIN" name="ssn" type="text">
                </div>

                <div class="input-field">
                    <input placeholder="Date of Birth (MM/DD/YYYY)" name="dob" type="text">
                </div>
            
            <button style="width: 100%;" type="submit">Continue</button>
        </form>
<br><br>
       
        
        </div>      
    </div>

{%endblock%}
