body{
    margin: 0;
    padding: 0;
    font-family: Arial, Georgia, 'Times New Roman', Times, serif;
}

@media (min-width: 600px){
    body{
        /* background-image: url('../images/tractor.jpg'); */
        background-size: cover;
        background-repeat: no-repeat;
    }
    .middle{
        text-align: center;
    }
    .submitForm{
        margin: 10px auto;
    }
}

a{
    color: #007856;
    text-decoration: none;
}


.navbar{
    height: 70px;
    width: 100%;
    background: linear-gradient(rgb(70, 158, 55) 0%, rgb(64, 130, 83) 40%, rgb(0, 123, 85) 70%);
    /* border-bottom: 4px solid #ffcd41; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-form{
    width: 60%;
    padding: 20px;
    background: white;
    margin: 50px auto;
    border-radius: 15px;
    box-sizing: border-box;
    /* text-align: center; */
}

.footer{
    height: 200px;
    width: 100%;
    position: absolute;
    background-color: #8080802e;
    text-align: center;
    box-sizing: border-box;
    font-size: 12px;
}

.footer a{
    text-decoration: underline;
    margin-right: 4px;
}

.footer-link-line{
    color: #8080802f;
}

.footer-img{
    height: 40px;
    width: 100px;
    margin: 8px auto;
    display:flex; justify-content: center; align-content: center;
}

.submitForm{
    width: 60%;
    /* margin: 10px auto; */
}

.input-field input{
    display: block;
    width: 95%;
    border: thin solid grey;
    font-size: 18px;
    padding: 8px;
    margin: 5px auto 30px auto;
    height: 35px;
}

.input-field select{
    display: block;
    width: 100%;
    border: thin solid grey;
    font-size: 18px;
    padding: 8px;
    margin: 5px auto 30px auto;
    height: 50px;
}

.checkboxWrapper{
    display: flex;
    align-items: center;
}

label{
    font-size: 19px;
    color: grey;
}

.submitForm button{
    background-color: #007856;
    border: 2px solid #007856;
    min-width: 176px;
    color: white;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    height: 55px;
}

.neutral-link{
    color: black;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    margin-top: -15px;
    border: 2px solid black;
    text-decoration: none;
}

.signin-type{
    height: 40px;
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.acc-type{
    width: 50%;
    border: thin solid grey;
    height: 100%;
}

.acc-type p{
    padding: 0;
    margin: 0;
}

#personal-account{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007856;
    color: white;
}

#commercial-account{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox input[type=checkbox]{
    width: 30px;
    height: 30px;
}

@media (max-width: 600px){
    .middle-form{
        width: 98%;
        margin-top: 10px;
    }
    .submitForm{
        width: 99%;
        
    }
    .submitForm button{
        width: 98%;
        
    }
    .middle{
        text-align: left;
    }
    .go-left{
        text-align: left;
    }
    .submitForm button{
        width: 100%;
    }
}